@model IEnumerable<Contacts.ViewModels.ContactViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var contact in Model) {
    <h1>@contact.FirstName</h1>
    <p>@contact.LastName</p>
    <p>@contact.Email</p
    <p>@contact.Password</p>
    <p>@contact.PhoneNumber</p>
    <p>@contact.DateOfBirth</p>
}