@model FiberFresh.Application.Dtos.BookingDto
@using FiberFresh.Domain.Extensions
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Booking</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/booking/create.css" media="screen">

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/booking/create.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">

    <script type="application/ld+json">
        {
                "context": "http://schema.org",
                "type": "Organization",
                "name": "ProjectFF"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Booking">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="~/intlTelInput/">

</head>
<body class="u-body u-overlap u-xl-mode" data-lang="pl">
    <header class="u-clearfix u-header u-header" id="sec-db97">
        <div class="u-clearfix u-sheet u-sheet-1">
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="MD">
                <div class="menu-collapse u-custom-font u-font-lato" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-custom-font u-font-lato u-nav u-spacing-2 u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-white u-border-hover-white u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-white" asp-controller="Home" asp-action="Index" asp-fragment="sec-fa3c" style="padding: 10px 20px;">Usługi</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-white u-border-hover-white u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-white" asp-controller="Home" asp-action="Index" asp-fragment="sec-e3c4" style="padding: 10px 20px;">Moje realizacje</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-white u-border-hover-white u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-white" asp-controller="Home" asp-action="Index" asp-fragment="sec-8da8" style="padding: 10px 20px;">FAQ</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-white u-border-hover-white u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-white" asp-controller="Home" asp-action="Index" asp-fragment="sec-f570" style="padding: 10px 20px;">Cennik</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-white u-border-hover-white u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-white" asp-controller="Home" asp-action="Index" asp-fragment="sec-658c" style="padding: 10px 20px;">Kontakt</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-white u-border-hover-white u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-white" asp-controller="Booking" asp-action="Create" style="padding: 10px 20px;">Wycena i rezerwacja </a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Home" asp-action="Index" asp-fragment="sec-fa3c">Usługi</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Home" asp-action="Index" asp-fragment="sec-e3c4">Moje realizacje</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Home" asp-action="Index" asp-fragment="sec-8da8">FAQ</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link x-border" asp-controller="Home" asp-action="Index" asp-fragment="sec-f570">Cennik</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Home" asp-action="Index" asp-fragment="sec-658c">Kontakt</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-controller="Booking" asp-action="Create">Wycena i rezerwacja </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="u-clearfix u-image u-section-1 black" id="sec-6442" data-image-width="1000" data-image-height="667">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-clearfix u-group-elements u-group-elements-1">
                <div class="u-expanded-width u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" alt="" data-image-width="1024" data-image-height="1024" asp-controller="Home" asp-action="Booking">
                    <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                </div>
                <p class="u-custom-font u-font-lobster u-text u-text-body-alt-color u-text-1">Pan Mariusz</p>
            </div>


            <form data-multi-step action="/Booking/Create" method="post" id="myform">
                <div class="card" data-step>

                    <div class="container">
                        <div class="row">
                            <h5 class="step-title">Dodaj przedmioty aby poznać cenę usługi</h5>
                        </div>

                        <div class="row">
                            <table name="myTable" id="myTable">
                                <thead>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Dodaj usługę</button>
                                <button id="valuationButon" type="button" class="btn btn-success" data-next>Wstępna wycena</button>
                            </div>
                        </div>
                    </div>

                    <div class="modal" id="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Dodawanie przedmiotu do usługi</h4>
                                </div>

                                <div class="modal-body">
                                    <div class="modal-body-group infobox" id="infobox"></div>

                                    <div class="modal-body-group active">
                                        <label asp-for="Services[0].Furniture" class="control-label">Przedmiot</label>
                                        <select id="selectFurniture">
                                            @foreach (Enum furniture in Enum.GetValues(typeof(FiberFresh.Domain.Entities.Furniture)))
                                            {
                                                <option value="@furniture">@furniture.GetDescription()</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="modal-body-group active">
                                        <label asp-for="Services[0].Fabric" class="control-label">Materiał</label>
                                        <select id="selectFabric">
                                            @foreach (Enum fabric in Enum.GetValues(typeof(FiberFresh.Domain.Entities.Fabric)))
                                            {
                                                <option value="@fabric">@fabric.GetDescription()</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="modal-body-group active" id="cbm">
                                        <label asp-for="Services[0].CBM" class="control-label">Powierzchnia w m2</label>
                                        <input id="inputCBM" type="number" min="0" max="50" step="0.1" class="form-control" />
                                    </div>
                                    <div class="modal-body-group" id="size">
                                        <label asp-for="Services[0].Size" class="control-label">Wielkość</label>
                                        <select id="selectSize">
                                            @foreach (Enum size in Enum.GetValues(typeof(FiberFresh.Domain.Entities.Size)))
                                            {
                                                <option value="@size">@size.GetDescription()</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="btn-group" role="group">
                                        <button id="addButton" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="Add()">Dodaj przedmiot</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-step>
                    <div class="container">
                        <div class="row">
                            <h3 class="step-title">Twoja wycena:</h3>
                        </div>

                        <div class="row">
                            <div class="info">
                                <h4>Jest to wstępna wycena usługi!</h4>
                                Na ostateczną cenę usługi wpływ ma kształt mebla, sposób obicia tapicerki, rodzaj materiału, wielkość oraz stopień zanieczyszczenia.
                                <br /><br />
                                Aby dokonać ostatecznej wyceny proszę załączyć zdjęcia dodanych wcześniej mebli.
                                <br /><br />
                                Ostateczna wycena powinna mieścić się w podanych widełkach cenowych.
                            </div>
                        </div>

                        <div class="row">
                            <div id="loadingValuation"></div>
                            <h2 class="valuation"></h2>
                        </div>

                        <div class="row">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-previous>Powrót</button>
                                <button id="uploadImagesButton" type="button" class="btn btn-success" data-next>Prześlij zdjęcia</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-step>
                    <div class="container">
                        <div class="row">
                            <h4 class="step-title">Prześlij zdjęcia wybranych mebli</h4>
                        </div>

                        <div class="row">
                            <div class="info">
                                Prześlij przynajmniej po 2 zdjęcia każdego dodanego mebla. Maksymalny rozmiar zdjęć to 100MB.
                                <br />
                                Pierwsze zdjęcie ma przedstawiać mebel w całości.
                                <br />
                                Drugie zdjęcie ma przedstawiać materiał z bliska (pod światło).
                                <br />
                                Kolejne zdjęcia mogą przedstawiać konkretne zabrudzenia.
                            </div>
                        </div>

                        <div class="row">
                            <table class="uploadImagesTable" id="uploadImagesTable">
                            </table>
                        </div>

                        <div class="row">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-previous>Powrót</button>
                                <button id="bookingButton" type="button" class="btn btn-success" data-next>Umów usługę</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-step>
                    <div class="container">
                        <div class="row">
                            <h4 class="step-title">Gdzie ma być wykonana usługa?</h4>
                        </div>

                        <div class="row">
                            <div>
                                <label asp-for="FirstName" class="control-label">Imię</label>
                                <input required type="text" asp-for="FirstName" minlength="2" maxlength="30" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="LastName" class="control-label">Nazwisko</label>
                                <input required type="text" asp-for="LastName" minlength="2" maxlength="30" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="Email" class="control-label">Adres Email</label>
                                <input type="email" asp-for="Email" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="PhoneNumber" class="control-label">Numer telefonu</label>
                                <input required type="tel" asp-for="PhoneNumber" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="City" class="control-label">Miejscowość</label>
                                <input required type="text" asp-for="City" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="Street" class="control-label">Ulica i numer mieszkania</label>
                                <input required type="text" asp-for="Street" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="Floor" class="control-label">Piętro</label>
                                <input required type="number" asp-for="Floor" min="-3" max="12" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="IsElevator" class="control-label">Czy jest winda?</label>
                                <br />
                                <input type="checkbox" asp-for="IsElevator" class="form-check-input" />
                            </div>
                            <div>
                                <label asp-for="Note" class="control-label">Opis</label>
                                <textarea asp-for="Note" rows="4" maxlength="500" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-previous>Powrót</button>
                                <button type="button" class="btn btn-success" data-next>Wybierz termin</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-step>
                    <div class="container">
                        <div class="row">
                            <h4 class="step-title">Wybierz termin:</h4>
                        </div>

                        <div class="row">
                            <table id="dateOfServicePool" class="table-layout">
                                <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Pora dnia (Rano: 9-14, Wieczór: 16-21)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div id="loadingSubmit"></div>

                        <div class="row">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-previous>Powrót</button>
                                <button type="submit" class="btn btn-success">Zarezerwuj usługę!</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="modalSummary">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Rezerwacja została przyjęta!</h4>
                            </div>

                            <div class="modal-body">
                                <div class="modal-body-group active">
                                    <h4>Podsumowanie:</h4>
                                </div>

                                <div class="modal-body-group active">
                                    <h5>Dane kontaktowe:</h5>

                                    <label id="FullNameSummary" class="control-label">Imię i Nazwisko: </label>
                                    <label id="EmailSummary" class="control-label">Email: </label>
                                    <label id="PhoneNumberSummary" class="control-label">Numer telefonu: </label>
                                </div>

                                <div class="modal-body-group active">
                                    <h5>Usługi:</h5>

                                    <div id="ServicesSummary"></div>
                                    <label id="ValuationSummary" class="control-label">Wycena wstępna: </label>
                                </div>

                                <div class="modal-body-group active">
                                    <h5>Data i miejsce wykonania usługi:</h5>

                                    <label id="DateOfServiceSummary" class="control-label">Data: </label>
                                    <label id="AddressSummary" class="control-label">Adres: </label>
                                    <label id="FloorSummary" class="control-label">Piętro: </label>
                                    <label id="IsElevatorSummary" class="control-label">Czy jest winda?: </label>
                                    <label id="NoteSummary" class="control-label">Opis: </label>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="location.href='@Url.Action("Index", "Home")'">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <script>

        </script>




    </section>
    <section class="u-backlink u-clearfix u-grey-80">
        <span>©2023 Pan Mariusz - Pranie tapicerki i dywanów - Trójmiasto</span>
    </section>
</body>
</html>